{% extends 'layout/basic.html' %}


{% block css %}
    
{% endblock css %}
    

{% block body %}

    

    <h1>Cakes:</h1>
    {%for cake in cakes%}
    <p>
        Cake: {{cake.name}} <br>
        Description: {{cake.description}}<br>
        Price: {{cake.price}}<br>

    {% endfor %}
    </p><br><br>
    <h1>Biscuits:</h1>

    <p>
    {%for biscuit in biscuits%}
        Cake: {{biscuit.name}}<br>
        Flavour: {{biscuit.flavour}}<br>
        Price: {{biscuit.price}}<br><br>
    {% endfor %}
    </p>

{% endblock body %}