<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div .inner{

            padding-left: 5rem;
            
            
        }
        .box{
            border: 1px solid;
            padding:1rem;
           
        }
        #resb{
            visibility: collapse;
            height: fit-content;
        }
        #wrap{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:2rem;
        }
    </style>
</head>
<body>
    <div id="wrap">
    <div class="box">
    {% for ct in cat %}
    <div><h1><li>{{ ct.name }}</a></li></h1>
    {% for n in news %}

    {% if n.category == ct %} 
        <li class="inner"> <a href='#' onclick="disp('{{ n.text|truncatewords:10}}');" >{{n.title}} </a></li>    
    {% endif %}
    
    {% endfor %}
        </div>
    {% endfor %}
    <br>
    </div>

    <div class="box" id="resb">
        <p id="res"></p>
    </div>
   <script>
       function disp(st){
        
        let res = document.querySelector("#res")
        let resb = document.querySelector("#resb")
        resb.style.visibility="visible";

        res.innerHTML=st
       }
   </script>
</body>
</html>